/* Add some uikit variables if desired */
$global-font-family: 'Muller', sans-serif;
$base-body-font-weight: 300;
$base-heading-font-weight: 300;

@import "~uikit/src/scss/variables-theme.scss";
@import "~uikit/src/scss/variables.scss";

@import "~uikit/src/scss/mixins.scss";
@import "~uikit/src/scss/mixins-theme.scss";

@import "~uikit/src/scss/uikit.scss";
@import "~uikit/src/scss/uikit-theme.scss";








//css
@font-face {
  font-family: 'Cascadia Code';
  src: url('../fonts/Cascadia/CascadiaCode.eot');
  src: local('Cascadia Code'), local('CascadiaCode'),
  url('../fonts/Cascadia/CascadiaCode.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Cascadia/CascadiaCode.woff2') format('woff2'),
  url('../fonts/Cascadia/CascadiaCode.woff') format('woff'),
  url('../fonts/Cascadia/CascadiaCode.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/Muller/MullerMedium.eot');
  src: local('Muller Medium'), local('MullerMedium'),
  url('../fonts/Muller/MullerMedium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Muller/MullerMedium.woff2') format('woff2'),
  url('../fonts/Muller/MullerMedium.woff') format('woff'),
  url('../fonts/Muller/MullerMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/Muller/MullerUltraLightItalic.eot');
  src: local('Muller UltraLight Italic'), local('MullerUltraLightItalic'),
  url('../fonts/Muller/MullerUltraLightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Muller/MullerUltraLightItalic.woff2') format('woff2'),
  url('../fonts/Muller/MullerUltraLightItalic.woff') format('woff'),
  url('../fonts/Muller/MullerUltraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/Muller/MullerRegular.eot');
  src: local('Muller Regular'), local('MullerRegular'),
  url('../fonts/Muller/MullerRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Muller/MullerRegular.woff2') format('woff2'),
  url('../fonts/Muller/MullerRegular.woff') format('woff'),
  url('../fonts/Muller/MullerRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/Muller/MullerLight.eot');
  src: local('Muller Light'), local('MullerLight'),
  url('../fonts/Muller/MullerLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Muller/MullerLight.woff2') format('woff2'),
  url('../fonts/Muller/MullerLight.woff') format('woff'),
  url('../fonts/Muller/MullerLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/Muller/MullerBold.eot');
  src: local('Muller Bold'), local('MullerBold'),
  url('../fonts/Muller/MullerBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Muller/MullerBold.woff2') format('woff2'),
  url('../fonts/Muller/MullerBold.woff') format('woff'),
  url('../fonts/Muller/MullerBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}




























